In [3]:
import numpy as num
import cymetric as cym
import pandas as pd

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [4]:
from cymetric import convenient_interface as cinv

In [5]:
db_nd = cym.dbopen('PWR/mixer/nodecay/cyclus.sqlite')

In [6]:
db_d = cym.dbopen('PWR/mixer/decay/cyclus.sqlite')

In [7]:
fuel_flow_pu_d = cinv.GetTransactionTimeSeries(db_d,'PWR_separation','J1_second_storage_pu', 'pu241')

In [9]:
fuel_flow_pu_nd = cinv.GetTransactionTimeSeries(db_nd,'PWR_separation','J1_second_storage_pu', 'pu241')

In [11]:
fuel_flow_pu_nd_tot = cinv.GetTransactionTimeSeries(db_nd,'PWR_separation','J1_second_storage_pu', 'pu238','pu239','pu240','pu241','pu242','am241')
fuel_flow_pu_d_tot = cinv.GetTransactionTimeSeries(db_d,'PWR_separation','J1_second_storage_pu', 'pu238','pu239','pu240','pu241','pu242','am241')

In [13]:
fuel_flow_pu_nd_r = fuel_flow_pu_nd/fuel_flow_pu_nd_tot
fuel_flow_pu_d_r = fuel_flow_pu_d/fuel_flow_pu_d_tot

In [14]:
fuel_flow_pu_nd_r

      Quantity
Time
145   0.163021
199   0.163021
253   0.163021
307   0.163021
361   0.163021
415   0.163021
469   0.163021
523   0.163021
577   0.163021
631   0.163021
685   0.163021
739   0.163021
793   0.163021
847   0.163021
901   0.163021
955   0.163021
1009  0.163021
1063  0.163021
1117  0.163021
1171  0.163021
1225  0.163021
1279  0.163021
1333  0.163021
1387  0.163021
1441  0.163021
1495  0.163021
1549  0.163021
1603  0.163021
1657  0.163021
1711  0.163021
...        ...
1981  0.163021
2035  0.163021
2089  0.163021
2143  0.163021
2197  0.163021
2251  0.163021
2305  0.163021
2359  0.163021
2413  0.163021
2467  0.163021
2521  0.163021
2575  0.163021
2629  0.163021
2683  0.163021
2737  0.163021
2791  0.163021
2845  0.163021
2899  0.163021
2953  0.163021
3007  0.163021
3061  0.163021
3115  0.163021
3169  0.163021
3223  0.163021
3277  0.163021
3331  0.163021
3385  0.163021
3439  0.163021
3493  0.163021
3547  0.163021

[64 rows x 1 columns]

In [17]:
(fuel_flow_pu_nd_r-fuel_flow_pu_d_r)/fuel_flow_pu_nd_r

      Quantity
Time
145   0.265549
199   0.265549
253   0.265549
307   0.265549
361   0.265549
415   0.265549
469   0.265549
523   0.265549
577   0.265549
631   0.265549
685   0.265549
739   0.265549
793   0.265549
847   0.265549
901   0.265549
955   0.265549
1009  0.265549
1063  0.265549
1117  0.265549
1171  0.265549
1225  0.265549
1279  0.265549
1333  0.265549
1387  0.265549
1441  0.265549
1495  0.265549
1549  0.265549
1603  0.265549
1657  0.265549
1711  0.265549
...        ...
1981  0.265549
2035  0.265549
2089  0.265549
2143  0.265549
2197  0.265549
2251  0.265549
2305  0.265549
2359  0.265549
2413  0.265549
2467  0.265549
2521  0.265549
2575  0.265549
2629  0.265549
2683  0.265549
2737  0.265549
2791  0.265549
2845  0.265549
2899  0.265549
2953  0.265549
3007  0.265549
3061  0.265549
3115  0.265549
3169  0.265549
3223  0.265549
3277  0.265549
3331  0.265549
3385  0.265549
3439  0.265549
3493  0.265549
3547  0.265549

[64 rows x 1 columns]

In [18]:
exp(-2/14)

NameError: name 'exp' is not defined