In [2]:
import cymetric as cym
from cymetric import convenient_interface as cin

In [19]:
db = cym.dbopen('cyclus_tmp.sqlite')

In [20]:
trans_tot = cin.GetTransactionTimeSeries(db, 'PWR_fabrication','PWR')

In [21]:
trans_tot

      Quantity
Time
4      88695.0
58     88695.0
112    88695.0
166    88695.0
220    88695.0
274    88695.0
328    88695.0
382    88695.0
436    88695.0
490    88695.0
544    88695.0
598    88695.0
652    88695.0
706    88695.0
760    88695.0
814    88695.0
868    88695.0
922    88695.0
976    88695.0
1030   88695.0
1084   88695.0
1138   88695.0
1192   88695.0
1246   88695.0
1300   88695.0
1354   88695.0
1408   88695.0
1462   88695.0
1516   88695.0
1570   88695.0
1624   88695.0

In [22]:
trans_pu = cin.GetTransactionTimeSeries(db, 'PWR_fabrication','PWR', 'pu238','pu239','pu240','pu241', 'pu242')

In [23]:
trans_pu_frac = trans_pu/trans_tot

In [24]:
trans_pu_frac

      Quantity
Time
4     0.081236
58    0.086271
112   0.090463
166   0.094774
220   0.097539
274   0.098211
328   0.098207
382   0.099629
436   0.099019
490   0.097934
544   0.100514
598   0.096901
652   0.096292
706   0.096926
760   0.096254
814   0.096085
868   0.095314
922   0.095563
976   0.095201
1030  0.094986
1084  0.095103
1138  0.095338
1192  0.095006
1246  0.095246
1300  0.094921
1354  0.095162
1408  0.094844
1462  0.095088
1516  0.094314
1570  0.094559
1624  0.094250