In [1]:
import cymetric as cym
from cymetric import convenient_interface as cin

/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.data is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.material is not yet QA compliant.
  return f(*args, **kwds)
/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/importlib/_bootstrap.py:222: QAWarning: pyne.enrichment is not yet QA compliant.
  return f(*args, **kwds)

In [2]:
db = cym.dbopen('cyclus.sqlite')

In [3]:
trans_tot = cin.GetTransactionTimeSeries(db, receiver='PWR')

In [4]:
trans_pu = cin.GetTransactionTimeSeries(db,  'PWR_fabrication', 'PWR', 'pu238', 'pu239', 'pu240', 'pu241', 'pu242', 'am241')

In [5]:
trans_pu_frac = trans_pu/trans_tot
trans_pu_frac

      Quantity
Time
4     0.081551
58    0.088365
112   0.094178
166   0.099483
220   0.103807
274   0.104756
328   0.105717
382   0.105212
436   0.104722
490   0.108980
544   0.105651
598   0.104705
652   0.106605
706   0.105673
760   0.106624
814   0.105192
868   0.106625

In [6]:
trans_pu

         Quantity
Time
4     7233.181974
58    7837.523502
112   8353.110275
166   8823.623907
220   9207.187524
274   9291.341464
328   9376.563765
382   9331.820113
436   9288.335540
490   9665.989965
544   9370.756419
598   9286.854041
652   9455.363591
706   9372.628198
760   9456.999630
814   9330.028303
868   9457.120811